/*
 *  Reset CSS v1.2
 *  Created by Raul Valverde
 */
 
* {
	padding: 0;
	margin: 0;
	outline : none;
	letter-spacing : 0;
	word-spacing : 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-size: 100%;
	list-style: none;
	border: 0;
	text-decoration: none;
	@include box-sizing (border-box);
	word-wrap: break-word;
}

*:focus,
*:active {
	outline : none;
}

*:before,
*:after {
	box-sizing: inherit;
}

html {
	overflow-y: scroll;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

article, aside, figure, footer, header, nav, section, details, summary {
	display: block;
}

embed,iframe,object {
	max-width: 100%;
}

small {
	font-size: 85%;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #000; 
	cursor: help;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: ''; 
	content: none;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}