@include keyframes(fadeInLeft) {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}

@include keyframes(fadeInRight) {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}

@include keyframes(rotate) {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@include keyframes(fadeInOut) {
	0%, 100% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
}

@include keyframes(fadeUpDown) {
	0%, 100% {
		transform: translateY(0)
	}
	50% {
		transform: translateY(5px)
	}
}

@include keyframes(backgroundLeft) {
	0% {
		background-position: top left
	}
	100% {
		background-position: -1900px top
	}
}