/*
 *  Reset CSS v1.1
 *  Created by Raul Valverde
 */
 
* {
	padding: 0;
	margin: 0;
	outline : none;
	letter-spacing : 0;
	word-spacing : 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-size: 100%;
	list-style: none;
	border: 0;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}

*:focus,
*:active {
	outline : none;
}

strong {font-weight: 700}
em {font-style: italic}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.clear {
	height: 0;
	overflow: hidden;
	width: 100%;
	clear: both;
}